In [1]:
idade1 = 39
idade2 = 27
idade3 = 30

In [2]:
print(idade1)
print(idade2)
print(idade3)

39
27
30

In [3]:
# Lista
idades = [39, 30, 27, 18]

In [4]:
# Tipo
type(idades)

list

In [5]:
# Endereço onde a lista está armazenado na memória
id(idades)

139735766303920

In [6]:
# Tamanho da lista
len(idades)

4

In [7]:
# Acessando o elemento dentro da lista através do seu indice
idades[0]

39

In [8]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [9]:
# Adicionando um valor ao final da lista
idades.append(15)
idades

[39, 30, 27, 18, 15]

In [10]:
idades[4]

15

In [11]:
# Iterando sobre a lista
for idade in idades:
    print(idade)

39
30
27
18
15

In [12]:
# Removendo um elemento da lista
idades.remove(30)
idades

[39, 27, 18, 15]

In [13]:
idades.append(15)
idades

[39, 27, 18, 15, 15]

In [14]:
# Removendo um elemento duplicado
idades.remove(15)
idades

[39, 27, 18, 15]

In [15]:
# remove() remove o primeiro elemento encontrado na lista
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27]

In [16]:
# Removedo todos os elementos dentro de uma lista
idades.clear()
idades

[]

In [17]:
# Verificando valores dentro de uma lista
15 in idades

False

In [18]:
idades = [39, 30, 27, 18]

In [19]:
if 18 in idades:
    idades.remove(18)

In [20]:
idades

[39, 30, 27]

In [21]:
idades.append(19)

In [22]:
# Adicionando um valor na lista em uma posição específica
idades.insert(0, 20)

In [23]:
idades

[20, 39, 30, 27, 19]

In [24]:
itens = [20, 39, 18]

In [25]:
idades.append([27, 19])

In [26]:
idades

[20, 39, 30, 27, 19, [27, 19]]

In [27]:
for elemento in idades:
    print('Recebi o elemento', elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 30
Recebi o elemento 27
Recebi o elemento 19
Recebi o elemento [27, 19]

In [28]:
idades.remove([27, 19])

In [29]:
idades

[20, 39, 30, 27, 19]

In [30]:
# Adicionando vários elementos à uma lista de uma vez
idades.extend([27, 19])
idades

[20, 39, 30, 27, 19, 27, 19]

In [31]:
for idade in idades:
    print(idade + 1)

21
40
31
28
20
28
20

In [32]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade+1)

In [33]:
# List Comprehension
[(idade+1) for idade in idades]

[21, 40, 31, 28, 20, 28, 20]

In [34]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 31, 28, 20, 28, 20]

In [35]:
[(idade) for idade in idades if idade > 21]

[39, 30, 27, 27]

In [36]:
# Definindo uma função
def proximo_ano(idade):
    return idade+1

In [37]:
[proximo_ano(idade) for idade in idades if idade > 21]

[40, 31, 28, 28]

In [38]:
# Problemas com mutabilidade da lista
def faz_processamento_de_visualizacao(lista):
    print(len(lista))
    lista.append(13)

In [39]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)

5

In [40]:
def faz_processamento_de_visualizacao(lista=[]):
    print(len(lista))
    lista.append(13)

In [41]:
faz_processamento_de_visualizacao()

0

In [42]:
faz_processamento_de_visualizacao()

1

In [43]:
faz_processamento_de_visualizacao()

2

In [44]:
def faz_processamento_de_visualizacao(lista=None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

In [45]:
faz_processamento_de_visualizacao()

0
[]

In [46]:
faz_processamento_de_visualizacao()

0
[]

In [47]:
class ContaCorrente:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0

    def deposita(self, valor):
        self.saldo += valor

    def __str__(self):
        return f'>>>>> Código {self.codigo} Saldo {self.saldo} <<<<<'

In [48]:
conta_do_bruno = ContaCorrente(15)

In [49]:
print(conta_do_bruno)

>>>>> Código 15 Saldo 0 <<<<<

In [50]:
conta_do_bruno.deposita(500)

In [51]:
print(conta_do_bruno)

>>>>> Código 15 Saldo 500 <<<<<

In [52]:
conta_da_julia = ContaCorrente(47685)

In [53]:
conta_da_julia.deposita(1000)

In [54]:
 print(conta_da_julia)

>>>>> Código 47685 Saldo 1000 <<<<<

In [55]:
contas = [conta_do_bruno, conta_da_julia]

In [56]:
print(contas)

[<__main__.ContaCorrente object at 0x7f16c2110cd0>, <__main__.ContaCorrente object at 0x7f16c211f050>]

In [57]:
for conta in contas:
    print(conta)

>>>>> Código 15 Saldo 500 <<<<<
>>>>> Código 47685 Saldo 1000 <<<<<

In [58]:
contas.append(conta_do_bruno)

In [59]:
contas[2].deposita(300)

In [60]:
print(conta_do_bruno)

>>>>> Código 15 Saldo 800 <<<<<

In [61]:
contas[0].deposita(100)

In [62]:
print(conta_do_bruno)

>>>>> Código 15 Saldo 900 <<<<<

In [63]:
contas = [conta_do_bruno, conta_da_julia]

In [64]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(100)

In [65]:
deposita_para_todas(contas)

In [66]:
print(contas[0], contas[1])

>>>>> Código 15 Saldo 1000 <<<<< >>>>> Código 47685 Saldo 1100 <<<<<

In [67]:
contas.insert(0, 76)

In [68]:
print(contas[0], contas[1], contas[2])

76 >>>>> Código 15 Saldo 1000 <<<<< >>>>> Código 47685 Saldo 1100 <<<<<

In [69]:
# Tuplas
bruno = ('Bruno', 27, 1994)
julia = ('Julia', 24, 1996)

In [70]:
conta_do_bruno = (15, 1000)
conta_do_bruno[1]

1000

In [71]:
def deposita(conta): # variação "funcional" separando o comportamento dos dados
    novo_saldo = conta[1] + 100
    codigo = conta[0]
    return (codigo, novo_saldo)

In [72]:
conta_do_bruno = deposita(conta_do_bruno)
conta_do_bruno

(15, 1100)

In [73]:
# Lista de tuplas
usuarios = [bruno, julia]
usuarios

[('Bruno', 27, 1994), ('Julia', 24, 1996)]

In [74]:
usuarios.append(('Frodo', 127, 938))

In [75]:
usuarios

[('Bruno', 27, 1994), ('Julia', 24, 1996), ('Frodo', 127, 938)]

In [76]:
usuarios[0]

('Bruno', 27, 1994)

In [77]:
conta_do_bruno = ContaCorrente(15)
conta_do_bruno.deposita(500)
conta_da_julia = ContaCorrente(234876)
conta_da_julia.deposita(1000)

In [78]:
contas = (conta_do_bruno, conta_da_julia)
contas

(<__main__.ContaCorrente at 0x7f16c2137e50>,
 <__main__.ContaCorrente at 0x7f16c2137e90>)

In [79]:
for conta in contas:
    print(conta)

>>>>> Código 15 Saldo 500 <<<<<
>>>>> Código 234876 Saldo 1000 <<<<<

In [80]:
contas[0].deposita(300)

In [81]:
for conta in contas:
    print(conta)

>>>>> Código 15 Saldo 800 <<<<<
>>>>> Código 234876 Saldo 1000 <<<<<

# Herança e Polimorfismo

In [82]:
class Conta:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f'[>> Código {self._codigo} Saldo {self._saldo} <<]'

In [83]:
class ContaCorrente(Conta):
    
    def passa_o_mes(self):
        self._saldo -= 2

class ContaPoupanca(Conta):
    
    def passa_o_mes(self):    
        self._saldo *= 1.01
        self._saldo -= 3

In [84]:
conta88 = Conta(88)
print(conta88)

[>> Código 88 Saldo 0 <<]

In [85]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>> Código 16 Saldo 998 <<]

In [86]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>> Código 17 Saldo 1007.0 <<]

In [87]:
conta16 = ContaCorrente(16)
conta17 = ContaPoupanca(17)
contas = [conta16, conta17]

In [88]:
for conta in contas:
    conta.passa_o_mes()
    print(conta)

[>> Código 16 Saldo -2 <<]
[>> Código 17 Saldo -3.0 <<]

# Arrays

In [89]:
import array as arr

In [90]:
# Instanciando um array
arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [91]:
import numpy as np

In [92]:
np.array([1, 3.5])

array([1. , 3.5])

In [93]:
np.array([1, 3.5]) + 3

array([4. , 6.5])

# Método abstrato

In [94]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def deposita(self, valor):
        self._saldo += valor

    @abstractmethod
    def passa_o_mes(self):
        pass

    def __str__(self):
        return f'[>> Código {self._codigo} Saldo {self._saldo} <<]'


class ContaCorrente(Conta):
    
    def passa_o_mes(self):
        self._saldo -= 2


class ContaPoupanca(Conta):
    
    def passa_o_mes(self):    
        self._saldo *= 1.01
        self._saldo -= 3


class ContaInvestimento(Conta):
    pass

In [95]:
class ContaSalario:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
        
        
    def deposita(self, valor):
        self.saldo += valor

    
    def __str__(self):
        return f'[>>> Código {self.codigo}, Saldo {self.saldo} <<<]'

In [96]:
conta1 = ContaSalario(37)
print(conta1)

[>>> Código 37, Saldo 0 <<<]

In [97]:
conta2 = ContaSalario(37)
print(conta2)

[>>> Código 37, Saldo 0 <<<]

> Se testar a igualdade entre as duas contas acima, o resultado retornado será False, porque a igualdade '==' só retorna True se as duas referências forem iguais.

In [98]:
# Testando a igualdade
conta1 == conta2

False

In [99]:
# Definindo a condição de igualdades
class ContaSalario:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
        
        
    def deposita(self, valor):
        self.saldo += valor


    # condição de igualdade
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False

        if self.codigo == outro.codigo:
            return True
        else:
            return False

    
    def __str__(self):
        return f'[>>> Código {self.codigo}, Saldo {self.saldo} <<<]'

In [100]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)

In [101]:
# Testando a condição de igualdade
conta1 == conta2

True

In [102]:
contas = [conta1]

In [103]:
conta2 in contas

True

In [104]:
conta1 in contas

True

In [105]:
conta3 = ContaCorrente(37)

In [106]:
conta1 == conta3

False

In [107]:
class ContaMultiploSalario(ContaSalario):
    pass

In [108]:
conta4 = ContaMultiploSalario(37)

In [109]:
conta1 == conta4

True

In [110]:
isinstance(conta3, ContaSalario)

False

# <font color='orange'> Enumerated, range e desempacotamento de tuplas</font>

In [111]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

In [112]:
for idade in idades:
    print(idade)

15
87
32
65
56
32
49
37

In [113]:
for i in range(len(idades)):
    print(i)

0
1
2
3
4
5
6
7

In [114]:
for i in range(len(idades)):
    print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [115]:
enumerate(idades) # lazy...

In [116]:
# forçando a geração de valores
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [117]:
for valor in enumerate(idades):
    print(valor)

(0, 15)
(1, 87)
(2, 32)
(3, 65)
(4, 56)
(5, 32)
(6, 49)
(7, 37)

In [118]:
usuarios = [
    ('Bruno', 27, 1994),
    ('Júlia', 24, 1996),
    ('Tony', 34, 1980)
]

In [119]:
for nome, idade, nascimento in usuarios:
    print(nome)

Bruno
Júlia
Tony

In [120]:
for nome, _, _ in usuarios:
    print(nome)

Bruno
Júlia
Tony

In [121]:
list(enumerate(usuarios))

[(0, ('Bruno', 27, 1994)), (1, ('Júlia', 24, 1996)), (2, ('Tony', 34, 1980))]

In [122]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [123]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [124]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [125]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [126]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

# <font color='orange'>Ordenação de objetos sem ordem natural</font>

In [127]:
nomes = ['Bruno', 'Julia', 'Frodo']
sorted(nomes)

['Bruno', 'Frodo', 'Julia']

In [128]:
nomes = ['bruno', 'Julia', 'Frodo']
sorted(nomes)

['Frodo', 'Julia', 'bruno']

In [129]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0


    # condição de igualdade
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False

        return self._codigo == outro._codigo and self._saldo == outro._saldo


    def deposita(self, valor):
        self._saldo += valor
        
    
    def __str__(self):
        return f'[>>> Código {self._codigo}, Saldo {self._saldo} <<<]'

In [130]:
conta_bruno = ContaSalario(17)
conta_bruno.deposita(500)

conta_julia = ContaSalario(3)
conta_julia.deposita(1000)

conta_frodo = ContaSalario(133)
conta_frodo.deposita(510)

In [131]:
contas = [conta_bruno, conta_julia, conta_frodo]

In [132]:
for conta in contas:
    print(conta)

[>>> Código 17, Saldo 500 <<<]
[>>> Código 3, Saldo 1000 <<<]
[>>> Código 133, Saldo 510 <<<]

In [133]:
# Ordenaando as contas
def extrai_saldo(conta):
    return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>>> Código 17, Saldo 500 <<<]
[>>> Código 133, Saldo 510 <<<]
[>>> Código 3, Saldo 1000 <<<]

In [134]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter('_saldo')):
    print(conta)

[>>> Código 17, Saldo 500 <<<]
[>>> Código 133, Saldo 510 <<<]
[>>> Código 3, Saldo 1000 <<<]

# <font color='orange'>Implementando o \_\_lt__</font>

In [135]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0


    # condição de igualdade
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False

        return self._codigo == outro._codigo and self._saldo == outro._saldo


    def deposita(self, valor):
        self._saldo += valor


    def __lt__(self, outro):
        return self._saldo < outro._saldo
        
    
    def __str__(self):
        return f'[>>> Código {self._codigo}, Saldo {self._saldo} <<<]'

In [136]:
conta_bruno = ContaSalario(17)
conta_bruno.deposita(500)

conta_julia = ContaSalario(3)
conta_julia.deposita(1000)

conta_frodo = ContaSalario(133)
conta_frodo.deposita(510)

contas = [conta_bruno, conta_julia, conta_frodo]

In [137]:
conta_bruno < conta_julia

True

In [138]:
conta_bruno > conta_julia

False

In [139]:
for conta in sorted(contas):
    print(conta)

[>>> Código 17, Saldo 500 <<<]
[>>> Código 133, Saldo 510 <<<]
[>>> Código 3, Saldo 1000 <<<]

In [140]:
for conta in sorted(contas, reverse=True):
    print(conta)

[>>> Código 3, Saldo 1000 <<<]
[>>> Código 133, Saldo 510 <<<]
[>>> Código 17, Saldo 500 <<<]

# <font color='orange'>Ordenação completa e functools</font>

In [143]:
conta_bruno = ContaSalario(1700)
conta_bruno.deposita(500)

conta_julia = ContaSalario(3)
conta_julia.deposita(1000)

conta_frodo = ContaSalario(133)
conta_frodo.deposita(500)

contas = [conta_bruno, conta_julia, conta_frodo]

In [144]:
for conta in sorted(contas, key=attrgetter('_saldo', '_codigo')):
    print(conta)

[>>> Código 133, Saldo 500 <<<]
[>>> Código 1700, Saldo 500 <<<]
[>>> Código 3, Saldo 1000 <<<]

In [145]:
conta_bruno = ContaSalario(1700)
conta_bruno.deposita(500)

conta_julia = ContaSalario(3)
conta_julia.deposita(500)

conta_frodo = ContaSalario(133)
conta_frodo.deposita(500)

contas = [conta_bruno, conta_julia, conta_frodo]

In [146]:
for conta in sorted(contas, key=attrgetter('_saldo', '_codigo')):
    print(conta)

[>>> Código 3, Saldo 500 <<<]
[>>> Código 133, Saldo 500 <<<]
[>>> Código 1700, Saldo 500 <<<]

In [150]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0


    # condição de igualdade
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False

        return self._codigo == outro._codigo and self._saldo == outro._saldo


    def deposita(self, valor):
        self._saldo += valor


    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        
        return self._codigo < outro._codigo

    
    def __str__(self):
        return f'[>>> Código {self._codigo}, Saldo {self._saldo} <<<]'

In [151]:
conta_bruno = ContaSalario(1700)
conta_bruno.deposita(500)

conta_julia = ContaSalario(3)
conta_julia.deposita(500)

conta_frodo = ContaSalario(133)
conta_frodo.deposita(500)

contas = [conta_bruno, conta_julia, conta_frodo]

In [152]:
for conta in sorted(contas):
    print(conta)

[>>> Código 3, Saldo 500 <<<]
[>>> Código 133, Saldo 500 <<<]
[>>> Código 1700, Saldo 500 <<<]

In [153]:
from functools import total_ordering

@total_ordering
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0


    # condição de igualdade
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False

        return self._codigo == outro._codigo and self._saldo == outro._saldo


    def deposita(self, valor):
        self._saldo += valor


    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        
        return self._codigo < outro._codigo

    
    def __str__(self):
        return f'[>>> Código {self._codigo}, Saldo {self._saldo} <<<]'

In [156]:
conta_bruno = ContaSalario(1700)
conta_bruno.deposita(500)

conta_julia = ContaSalario(3)
conta_julia.deposita(500)

conta_frodo = ContaSalario(133)
conta_frodo.deposita(1000)

contas = [conta_bruno, conta_julia, conta_frodo]

In [157]:
conta_bruno <= conta_julia

False

In [158]:
conta_bruno <= conta_frodo

True

In [159]:
conta_bruno == conta_julia

False

In [160]:
conta_bruno == conta_bruno

True

In [161]:
conta_bruno <= conta_bruno

True